*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: rgb(25, 28, 31);
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background-color: rgb(243, 244, 245);
}

button {
  cursor: pointer;
}

/* NAVBAR STYLING */

header .site-logo img {
  width: 100px;
}

header {
  width: 100vw;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  min-height: 4rem;
  background-color: rgb(241, 242, 244);
  backdrop-filter: blur(16px);
  border-bottom: 1px solid rgb(223, 227, 231);
  z-index: 2;
}

main {
  width: 100vw;
}

.container {
  max-width: 1400px;
  min-width: 350px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;

}

.navbar-fixed {
  width: 100%;
  /* border: 1px double rgb(112, 220, 112); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}


.navbar-links {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-align: center;
  border-bottom: 1px solid grey;
  transition: all 1s;
}

.navbar-link {
  height: 100%;
  width: 100%;
  color: #2b3345;
  text-decoration: none;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 1rem 1rem;
  border-radius: 5px;
  border-bottom: 1px solid grey;
}

.navbar-link:last-child {
  border-bottom: none;
}

.navbar-link:hover,
.navbar-link:focus {
  color: rgb(195, 19, 19)
}

.header-cart-quantity-indicator {
  font-size: 0.6rem;
  vertical-align: top;
  color: rgb(195, 19, 19);
  padding-left: 0.2rem;
  text-decoration: none;
}

/* HOME PAGE STYLING */
/* HOME WELCOME */

.home-page-welcome-section {
  background-repeat: no-repeat;
  background-size: cover;
  height: 92vh;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden
}

.home-page-welcome-section>h1 {
  color: #fff;
  letter-spacing: 5px;
  text-shadow: 2px 2px #26030f;
  font-weight: 600;
  text-align: center;
  font-size: 1.5rem;
  margin: 1em auto;
  text-transform: uppercase;
  line-height: 1.5em;
  padding: 1rem 2rem;
}



.home-page-about-section,
.home-page-range-section,
.home-page-why-section {
  min-height: 200px;
  min-width: 350px;
  max-width: 1400px;
  width: 95%;
  margin: 3em auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.home-explore-button,
.home-button {
  border-radius: 25px;
  border: none;
  height: 42px;
  color: #26030f;
  background: #fff;
  letter-spacing: 0.1em;
  margin: 2em auto 2em;
  width: 300px;
  transition: all 0.3s ease-in-out;
}


.red-btn {
  color: #b81b1b;
  border: 1px solid #b81b1b;
}

.home-explore-button:hover,
.home-button:hover {
  color: #fff;
  background-color: #b81b1b;
}


/* HOME ABOUT STYLING */

.home-page-about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 350px;
  width: 95%;
  max-width: 1400px;
  padding: 1em;
}

.home-page-about-section h3,
.home-page-range-section h3 {
  display: inline-block;
  width: auto;
  text-align: center;
  margin: 1em auto;
  letter-spacing: 0.1rem;
  font-size: 22px;
  position: relative;

}



.home-page-about-section>p,
.home-page-range-section p {
  font-size: 0.9rem;
  max-width: 800px;
  text-align: center;
  line-height: 1.5em;
  margin: 1em auto 1em;
}

.home-about-inner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1000px;
  flex: 1 1 0px;
  gap: 1em
}


.home-about-left ul,
.home-about-right ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 0px;
}



.home-about-inner-container li {
  padding: 0.5rem 1rem;
  margin-bottom: 0.75rem;
  flex: 1 1 0px;
  text-align: center;
  border-radius: 16px;
  ;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.home-about-inner-container p {
  margin: 0;
  font-size: 10px;
  line-height: 1em;
}

.home-about-inner-container img {
  width: 30px;
  height: auto;
}

.home-about-inner-container .home-emoji {
  font-size: 26px;
}

.home-page-why-section {
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.home-page-why-section>h3 {
  text-align: center;
  color: #fff;
  font-size: 1rem;
  margin-top: 10px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  padding: 16px;
}

.home-page-range-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-page-range-inner ul {
  max-width: 800px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1em;
  margin: 2em 0;

}

.home-page-range-inner li {
  font-size: 12px;
}

.home-page-range-inner img {
  padding: 0.5em 0.5em;
  max-width: 70px;
  transition: all ease-in-out 0.3s;
}

.home-page-range-inner img:hover {
  transform: scale(1.3);
}

@media (min-width: 700px) {
  .home-page-range-inner ul {
    max-width: 1200px;
    gap: 2em;
  }

  .home-page-range-inner img {
    max-width: 90px;
  }
}

/* HOME PAGE EMBEDDED VIDEO STYLING */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* PROMO PAGE STYLING */

.promos-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  min-width: 350px;
  padding: 1em;
}

.promos-selection {
  min-height: 150px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
  padding: 1em;
  margin: 1em auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.promos-selection p {
  font-size: 0.9rem;
}

.promo {
  min-height: 150px;
  width: auto;
  margin: 1em auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.promo img {
  width: 100%;
  max-height: 90vh;
  max-width: 1200px;
  border-radius: 10px;
  object-fit: cover;
}


.promos-selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.promos-selectors a {
  text-decoration: none;
}

.promos-selectors-btn {
  text-align: center;
  line-height: 1.5rem;
  width: 150px;
  height: 40px;
  padding: 0.5rem 1rem;
  /* margin: 0.5rem 0.5rem; */
  border-radius: 25px;
  border: 1px solid #CC092F;
  color: #CC092F;
  background: #fff;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.promos-selectors-btn:hover {
  background-color: #CC092F;
  color: #fff
}



/* PROMOS GENERAL STYLE */


/* TOOLS PAGE STYING */

.tools-list-container>h1 {
  font-size: 1.5rem;
  text-align: center;
  margin: 0.5em 0;
  display: none;
}

/* TOOLS SEARCH INPUT STYLING */

.search-by-article {

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.search-by-article input {
  width: 90vw;
  height: 42px;
  margin: 1rem 0 0.5rem;
  padding: 0.2rem 2rem;
  border: 2px solid #CC092F;
  border-radius: 25px;
  text-align: center;
}


.search-by-article input:focus {
  outline: none;
}

.tools-list-filter-and-results {
  width: auto;
  max-width: 100%;
}

/* BUTTON STYLING */

.tools-list-filter-buttons-family {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: auto;
}


.tools-list-filter-buttons-materials,
.tools-list-filter-buttons-machines,
.tools-list-filter-buttons-diameter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  margin: 0 8px;
  border-top: 1px solid #2b334525;
}


.tools-list-filter-buttons-diameter {
  position: sticky;
  top: 78px;
  width: 100%;
  padding: 0;
  background-color: rgb(243, 244, 245);
  border-bottom: 1px solid #2b334525;
}

.tools-list-filter-buttons-machines h3,
.tools-list-filter-buttons-materials h3 {
  font-size: 0.8rem;
}

.tools-list-filter-buttons-family h3 {
  text-align: center;
  font-size: 0.8rem;
  display: none;
}

.tools-family {
  font-size: 12px;
  max-width: 90%;
  height: 4em;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  border: rgb(234, 162, 162) 1px solid;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  background-color: #b4b4b419;
}

.tools-family:hover {
  background-color: #f1b3b3;
}

.tools-machine,
.tools-material {
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.25rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b4b4b419;
}

.tools-diameter {
  border: none;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0.5rem;
  border-radius: 5px;
  cursor: pointer;
  background-color: #b4b4b419;
}

.tools-machine:hover,
.tools-material:hover,
.tools-diameter:hover {
  background-color: #f1b3b3;
  color: rgb(25, 28, 31)
}



.clear-filters {
  background: none;
  text-decoration: underline;
  font-size: 0.8rem;
  border: none;

}

.clear-filters img {
  height: 1.6rem;

}

.selected {
  background-color: #CC092F;
  background-color: #f1b3b3;
  color: #fff;
  color: rgb(25, 28, 31)
}

/* FILTER AND RESULTS STYLING */

.tools-list-filter-and-results {
  /* background-color: #911414; */
  width: 100%;
}

/* RESULTS LAYOUT */

.product-list-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;
}



/* PRODUCT CARD */

.product-list-item {
  width: 100%;
  height: auto;
  margin: 10px;
  background-color: #fff;
  ;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;


}

.product-card {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-top-right-radius: 20px;
  border-top-left-radius: 20px; */
  border-radius: 20px;
  padding-bottom: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product-card-range-color {
  width: 100%;
  height: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.product-card-top {
  color: grey;
  /* opacity: 0.5; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.product-card-top p {
  color: rgb(158, 158, 158);
  font-size: 0.8rem;
}

.product-card-top img {
  width: 1.1rem;
}


.product-card-heading {
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-align: center;
  width: 100%;
  margin-bottom: 0.5rem;
}

.product-card-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  justify-content: space-between;
  /* gap: 8px; */
  gap: 1.5vw;
  padding: 0 8px;
}

.product-details .icon img {
  width: 20px;
}

.product-card-details-primary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-details-primary>p {
  font-size: 0.8rem;
  color: rgb(158, 158, 158)
    /* opacity: 0.5; */
}

.product-card-details-code p {
  font-size: 12px;
  text-align: center;
  color: rgb(158, 158, 158);
  position: absolute;
  top: 6px;
  right: 6px;
  z-index: 1;
}

.product-card-image {
  width: 100%;
  height: auto;
  min-width: 130px;
  min-height: 130px;
  /* width: 130px;
  height: 130px; */
  margin-bottom: .5rem;
}

.product-card-image img {
  width: 100%;
  object-fit: contain;
}

.product-card-details-secondary {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
  height: 100%;
  width: 100%;
}

.product-card-details-secondary img {
  width: 34px;
}

.icon-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.product-card-description {
  height: 3.5rem;
  font-size: 0.8rem;
  line-height: 1.2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 1em;
}

.product-card-technical {
  font-size: 0.8rem;
}

.product-card-technical-detail {
  margin: 0.5rem 0;
}

.product-card-technical .dots {
  display: block;
}

.product-card-technical-detail-icons {
  margin: 6px 0;
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
  /* size: .5rem; */
}

.red-dot,
.empty-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 3px;
}

.red-dot {
  background-color: #2b3345;
}

.empty-dot {
  border: 1px solid #2b3345;
}

.article-page-main-picture-and-icons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.product-card-details-icons-wrapper {
  /* position: relative; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* right: 40% */
}

.product-card-details-icons-wrapper img {
  width: 40px;
  margin: 5px 2px;

}

.icons-primary,
.icons-primary>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icons-secondary {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.horizontal>div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.product-card-buttons {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.product-card-buttons button {
  cursor: pointer;
}

.product-card-buttons span {
  color: #fff;
}

.product-card-buttons a {
  letter-spacing: 1.5px;
  font-size: 0.8rem;
}

button:active {
  background-color: rgb(158, 158, 158);
}



/* ARTICLE DETAILS STYLING */


.article-page-outter {
  padding: 0;
}

.article-page-wrapper {
  position: relative;
  max-width: 1000px;
  width: 95%;
  margin: 1em auto 1em;
  padding: 0.5rem;
  /* min-height: 80vh; */
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.article-page-wrapper h3 {
  font-size: 1rem;
  text-align: center;
}

.back-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.back-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1em 0 0;
  z-index: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.red span,
.red {
  color: rgb(195, 19, 19)
}

.back-button img {
  width: 16px;
  height: 16px;
  margin: 0 10px;
}

.back-button:hover {
  text-decoration: underline;
}


.article-page-main {
  width: 100%;
  
  padding: 1em 0.5rem;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-loader-bg {
  min-width: 250px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-loader-sm{
  min-width: auto;
  min-height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article-page-main-img {
  position: relative;
  object-fit: contain;
}

.article-page-main-img img {
  display: block;
  object-fit: contain;
  width: 80%;
  z-index: -1;
  margin: 0 auto;
}

.article-label {
  position: absolute;
  top: 18%;
  background-color: #CC092F;
  width: 8rem;
  height: 1.2rem;
  transform: skew(14deg);
}

.article-label p {
  display: block;
  text-transform: uppercase;
  font-size: 90%;
  line-height: 1.5em;
  transform: skew(-14deg);

  color: #fff;
  padding-left: 1em;
}

.article-page-main-text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  border-radius: 16px;
  margin: 0 1rem;
}


.article-page-button {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

.product-card-list-prices {
  align-self: flex-start;
  margin: 1em 0
}

.product-card-list-prices p {
  margin-top: 1em;
}

.product-card-list-price {
  font-size: 28px;
  margin-right: 5px;
}

.product-card-special-price {
  font-size: 22px;
  margin-right: 5px;
}

.product-card-technical-details {
  align-self: flex-start;
  width: 100%;
}

.product-card-technical-detail {
  text-align: left;
}

.product-card-technical-detail-icons {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

/* .product-card-technical-detail-icon-cotainer{
  flex: 1
} */

.product-card-technical-detail-icons img {
  margin: 2px;
}

.product-card-add-button {
  margin-top: 1rem;
}

.article-page-main-text {
  padding-bottom: 0;
  justify-content: space-between;
}

.article-page-main-text p {
  font-size: 0.8rem;
}

.article-page-main-text h2 {
  margin-top: 0.8em;
  font-size: 1rem;
}

.article-page-secondary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 0 1rem 1rem;

}

.article-page-secondary h3 {
  font-size: 1rem;
  margin: 0.5rem;

}

.article-page-secondary a {
  font-size: 0.9rem
}

.article-page-secondary p {
  font-size: 0.8rem;
  line-height: 1.5rem;
}

.article-page-secondary .files {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.article-page-secondary-description {
  width: 100%;
}

.article-page-product-description {
  width: 100%;
  font-size: 0.8rem;
  line-height: 1.5em;
  text-align: justify;
}

.dots-flex {
  display: flex;
  justify-content: unset;
  align-items: center;
  flex-wrap: wrap;
}




/* FOOTER STYLING */
footer {
  margin-top: auto;
  background-color: rgb(25, 28, 31);
  width: 100vw;
  height: 3em;


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer p {
  color: #fff;
  line-height: 1em;
  font-size: 0.8rem;
  opacity: 50%;
}

.modal {
  width: 350px;
  height: 250px;
  border-radius: 20px;
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  border: 1px solid rgba(25, 28, 31, 0.107);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem;
}

.modal>h3 {
  margin: 1em;
  text-align: center;
}

.modal p {
  color: rgb(25, 28, 31);
  line-height: 20px;
  text-align: center;
  text-justify: inter-word;

}

.modal-butons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.modal-butons button {
  width: 100px;
  height: 2.5em;
  padding: 0.5rem 1rem;
  margin: 1.5rem 0;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  line-height: 12px;
  vertical-align: middle;
  transition: all ease-in-out 0.3s;

}

.modal-butons .accept {
  background-color: rgb(48, 161, 69);
  color: #fff;
}

.modal-butons .accept:hover {
  background-color: rgb(48, 161, 69);
  color: #fff;
}

.modal-butons .reject {
  background-color: transparent;
  text-decoration: underline;

}

.modal-butons .reject:hover {
  background-color: #CC092F;
  color: #fff;
  text-decoration: none;
}



/* LOGIN FORM */

.login-form-wrapper {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.login-form {
  margin: 30px auto;
  width: auto;
  min-width: 70%;
  max-width: 90vw;
  min-height: 400px;
  max-height: 500px;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.login-form label {
  text-align: center;
  width: 8rem;
  height: 1.2rem;
  /* font-size: 1.3rem; */
}

.login-form img{
  width: 200px;
  max-height: auto;
}

.login-form input {
  height: 50px;
  padding: 0.3rem 1rem;
  border: 2px solid #CC092F;
  border-radius: 25px;
  text-align: center;
}

.login-form input:focus {
  outline: none;
}

.login-greeting {
  margin: 30px 0;
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.login-buttons{
  max-width: 90%;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.login-button,
.explore-button,
.send-button,
.green-button {
  font-size: 0.8rem;
  min-width: 140px;
  border-radius: 25px;
  border: none;
  height: 40px;
  color: #fff;
  background-color: #CC092F;
  letter-spacing: 0.1em;
}

.explore-button,
.send-button {
  margin: 1em 1em 3em;
  width: 100px;
  transition: all ease-in 0.3s;
}

.explore-button:hover,
.send-button:hover  {
  transform: scale(1.05);
}

.green-button,
.send-button {
  background-color: rgb(48, 161, 69);
}

/* CART LAYOUT */

.badge {
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.cart-badge-description-wrapper,
.cart-badge-description-wrapper-inner {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 5px
}

.cart-badge-description-wrapper-inner {
  gap: 0.5rem
}


.empty-cart-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  ;
  align-items: center;
}

.add-usual-span {
  display: inline-block;
  margin: 0 0.25em;
  color: #b81b1b;
  text-decoration: underline;
  cursor: pointer;
}

.cart-wrapper {
  width: 100%;
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.cart-wrapper-inner {
  margin: 30px auto;
  min-width: 70%;
  max-width: 1200px;
  height: 100%;
  background-color: #fff;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.cart-wrapper-inner h2 {
  font-size: 1.2rem;
  margin: 1.5em 0 1em;

}

.cart-wrapper-inner h3 {
  margin: 1em;
  display: inline-block;
  width: 90%;
  text-align: center;

}

.cart-fast-order-wrapper {
  height: auto;
  width: 100%;
  max-width: 100vw;
  margin: 0 0 1em;
  color: rgb(179, 179, 179);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(241, 241, 241);
}

.cart-fast-order-wrapper h4 {
  margin: 10px 0 0;
}

.cart-fast-order-wrapper h5 {
  text-align: center;
  font-size: 12px;
}


.cart-fast-order-wrapper p {
  padding: 1em 1em;
  font-size: 12px;
}

.cart-fast-order-wrapper button {
  width: 120px;
  height: 2.5em;
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.5rem 1rem;
  border: rgb(234, 162, 162) 1px solid;
  font-size: 0.7rem;
  line-height: 0.7rem;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

}

.cart-fast-order-wrapper button:hover {
  background-color: #f1b3b3;
}

.empty-cart {
  max-width: 90vw;
  height: 250px;
  margin: 100px auto;
  min-width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.empty-cart h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: normal;

}

.empty-cart p {
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
}

.cart-wrapper-with-products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}



.product-in-cart-wrapper {
  width: auto;
  max-width: 100vw;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.6rem;
  padding: 0.5rem 0.5rem;
  margin: 0 auto;
  border-bottom: 1px solid rgba(75, 75, 75, 0.506);
  position: relative
}

.product-in-cart-wrapper:last-child {
  border-bottom: none;
}

.product-in-cart-wrapper p {
  vertical-align: center;
}


.cart-product-code {
  width: 9%;
  min-width: 5em;
  cursor: pointer;
  padding-right: 0.5rem;
}


.cart-product-description {
  width: 50%;
  max-width: 500px;
}

.cart-product-finalprice,
.cart-product-listprice,
.cart-product-total {
  width: 9%;
  text-align: right;
  min-width: 3.5rem;
}

.cart-product-listprice {
  color: rgb(158, 158, 158);
  display: none;
}

.cart-product-quantity {
  width: 9%;
  text-align: right;
  min-width: 4em;
}

.cart-product-input-form {
  display: flex;
  justify-content: end;
  width: 10%;
  padding-left: 0.5rem;
  height: 1rem;
  border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-product-input {
  min-width: 3em;
  font: inherit;
  font-size: inherit;
  height: 1rem;
  border: 1px solid grey;
  text-align: right;
  user-select: all;
}

.cart-product-remove {
  display: inline-block;
  text-align: right;
  margin: 0 0.5rem;
  width: 0.6rem;
}

/* ADD CODE TO CART */

.cart-new-item-input-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-self: center;
  margin: 1em auto;
}

.cart-new-item-input-form label {
  display: none;
}

.cart-new-item-input-form input {
  border: 1px solid grey;
  border-right: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 30px;
  width: 20em;
  font-size: 10px;
  padding: 1em 1em;

}



.cart-new-item-input-form input:focus {
  outline: none;
}


.cart-new-item-input-form button {
  width: 3em;
  height: 30px;
  color: #ffffff;
  background-color: rgb(48, 161, 69);
  border: 1px solid grey;
  border-left: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.cart-new-item-input-form button:hover {
  background-color: #CC092F;
}

.cart-wrapper-inner h3 {
  padding-right: 2em;
  text-align: right;

}


.cart-order-total {
  margin: 2em auto;
  font-size: 0.9rem;
}



.not-found {
  margin: 50px auto;
  height: 250px;
  width: auto;
  min-width: 300px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found h3 {
  margin: 2rem 0;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

.assistant-container {
  min-width: 350px;
  max-width: 90vw;
  min-height: 80vh;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 0;

}

.assistant-container h1{
  margin: 20px 0 10px;
}

.assistant-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 30px;
  border-bottom: 2px solid rgba(43, 51, 69, 0.071);
}

.assistant-container input {
  min-width: 320px;
  width: 85%;
  height: 50px;
  margin: 30px 20px;
  padding: 20px 20px;
  border: 2px solid #CC092F;
  border-radius: 25px;
  outline: none !important;
}

/* .assistant-container input:active {
  border: 1p solid green;
} */

.assistant-container button {
  width: 100px;
  height: 40px;
  padding: 0.3rem 1rem;
  border-radius: 25px;
  border: none;
  background-color: #CC092F;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply {
  min-width: 350px;
  width: 85%;
  padding: 30px 10px;
  margin: 0 10px;
  line-height: 1.5em;
  font-size: 0.9em;
  font-weight: normal;
  text-wrap: wrap;
  overflow-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  font-size: 0.8rem;
}

.ai-loader {
  margin-top: 50px;
}

.queryhints {
  width: 85%;
  margin: 0 auto;
}

.queryHints-container{
  background-color: rgba(211, 211, 211, 0.193);
  border-radius: 20px;
  text-align: left;
  max-width: 100%;
  padding: 30px;
  margin-bottom: 20px;
}

.queryHints-container h4 {
  margin-bottom: 20px;
  
  
}

.queryHints-container li {
  line-height: 1.5em;
  list-style-type: none;
  color:#2b3345bc;
  border-radius: 5px;
  margin: 5px 0;
  padding: 8px 10px;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.queryHints-container li:hover {
  transform: scale(1.01);
  color:#b81b1b;

}

.inline {
  display: inline
}

.chat-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.chat-button {
  color: #fff; /* Add your desired text color */
  background-color: none;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 16px;
  border: 1px solid red;
}

.chat-icon {
  width: 60px;
  transition: all 0.3s ease-in-out;
}

.chat-icon:hover {
  scale: calc(1.05)
}

/* MEDIA QUERIES FOR HEADER */
@media (min-width: 500px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;

  }


  .navbar-links {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    z-index: 3;
  }

  .navbar-link {
    width: 100%;
    color: #2b3345;
    font-weight: 500;
    font-size: 0.9rem;
    padding: 2.5rem 0.7rem;
    border-bottom: none;
    border-radius: none;

  }

  .tools-list-filter-buttons-diameter {
    top: 96px;
  }

  .search-by-article input {
    width: 80vw;
    height: 50px;
    /* margin: 2rem 0.5rem; */
    margin: 1rem 0.5rem;
    padding: 0.3rem 1rem;
    border: 2px solid #CC092F;
    border-radius: 25px;
  }

  .article-label {
    width: 8rem;
    height: 1.2rem;
  }


  /* TOOLS SEARCH LAYOUT */


  .tools-list-filter-buttons-family {
    width: 100%;
    flex-direction: row;
    /* align-items: stretch; */
    justify-content: flex-start;
  }

  .product-card-technical .dots {
    display: flex;
  }


  /* ARTICLE PAGE LAYOUT */

  .article-page-main {
    flex-direction: row;
    align-items: center;
  }

  .article-page-main-img {
    max-width: 100%;
  }

  .article-page-main-img img {
    width: 100%;

  }

  .article-page-main-text {
    justify-content: space-between;
    width: 100%;

  }

  .article-page-main-text p {
    font-size: 0.8rem;
  }

  .article-page-main-text h2 {
    margin-top: 0.8em;
    font-size: 1rem;
  }

  .product-card-heading {
    text-align: start;
  }

  .product-card-details-icons-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    width: auto;
    flex-wrap: wrap;
  }

  .product-card-details-icons-wrapper img {
    max-width: 30px;
    margin: 2px;

  }

  .dots {
    display: block;
  }

  .article-page-main-text {
    padding: 1rem 0 1rem 1rem;
    border-left: 2px solid #2b334519;
    border-radius: 0;
  }

  .product-card-add-button {
    align-self: flex-end;
    margin-top: 1rem;
    color: rgb(195, 19, 19)
  }

  .product-card-add-button button {
    height: 42px;
  }

  /* CART LAYOUT */

  .product-in-cart-wrapper {
    font-size: 0.7rem;
    padding: 0.75rem 0.5rem;
  }

  .cart-product-remove {
    cursor: pointer;
    margin: 0 0.75rem;
    width: 0.6rem;
  }

  .cart-new-item-input-form {
    align-self: flex-start;
    margin: 1.5em 0 0 2em;
  }

  .cart-new-item-input-form input {
    align-self: center;
    height: 30px;
    width: 10em;
    font-size: 14px;

    padding: 0.25em 1em;

  }

  .red-dot {
    width: 10px;
    height: 10px;

  }

  .empty-dot {
    width: 10px;
    height: 10px;
  }

}


.products-placeholder {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}





@media (min-width: 700px) {

  /* ARTICLE DETAILS */

  .home-page-welcome-section {
    flex-direction: column;
    justify-content: space-around;
    object-fit: cover;
    height: 93vh;
  }

  .home-page-welcome-section>h1 {
    max-width: 55%;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    align-self: flex-start;
    letter-spacing: 5px;
    padding: 0 20px;
    border: none;
    margin: 50px;
    font-weight: 500;
    font-size: 48px;
  }

  .home-page-welcome-section>p {
    max-width: 55%;
    color: #ffffffbf;
    text-transform: uppercase;
    text-align: left;
    align-self: flex-start;
    letter-spacing: 2px;
    padding: 0 20px;
    border: none;
    margin: 50px;
    font-weight: 500;
    font-size: 28px;
  }

  .home-explore-button {
    height: 50px;
    width: 300px;
    font-size: 14px;
    line-height: 14px;
    padding: 20px 20px;
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  }

  .article-page-main {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  /* HOME PAGE ABOUT LAYOUT */

  .home-about-inner-container {
    margin: 20px auto;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .home-about-left ul,
  .home-about-right ul {
    flex-direction: row;
    justify-content: center;
    gap: 1em 1.5em;

  }

  .home-page-about-section>p {
    font-size: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    padding: 2em 3em;
    text-align: center;
  }

  .home-about-inner-container p {
    margin: 0.25em;
    font-size: 14px;
  }

  .home-about-inner-container li {
    padding: 1rem 1rem;
    transition: all 0.3s ease-in-out;
  }

  .home-about-inner-container img {
    width: 40px;
    height: auto;
    margin: 10px
  }

  .home-about-inner-container li:hover {
    color: #b81b1b;
    transform: scale(1.1);
  }

  .home-page-range-inner li {
    font-size: 16px;
  }

  .home-page-range-section,
  .home-page-about-section {
    padding: 30px 16px 20px;
  }


  .tools-list-container>h1 {
    font-size: 1.5rem;
    margin: 1.5rem 0 2rem;
    display: block;
  }

  .tools-list-container-layout {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }



  .search-and-filter-wrapper {
    position: sticky;
    top: 88px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .tools-list-filter-and-results {
    width: 100%;
    max-width: 80%;
  }

  .tools-list-filter-buttons-family {
    flex-direction: column;
    justify-content: center;
  }

  .tools-list-filter-buttons-family h3 {
    display: block;
    margin-bottom: 1.5em;
    margin-top: 1em
  }

  .search-by-article input {
    width: 95%;
    height: 50px;
    /* margin: 2rem 0.5rem; */
    margin: 1rem 0.5rem;
    padding: 0.4rem 2rem;
    border: 2px solid #CC092F;
    border-radius: 25px;
  }


  .article-page-wrapper {
    justify-content: flex-start;
    height: auto;

  }

  .article-label {
    width: 8rem;
    height: 1.2rem;
  }

  .back-button {
    font-size: 16px;
  }

  .article-page-product-description {
    font-size: 0.9rem;
    margin: 1em 0;
    line-height: 1.5em;
    border-radius: 16px;
    text-justify: inter-word;
    text-align: justify;
  }


  .article-page-main-text {
    align-items: flex-start;
  }

  .article-page-main-text p {
    font-size: 0.9rem;
  }

  .article-page-main-text h2 {
    margin-top: 1em;
    font-size: 1.1rem;
  }

  .cart-product-listprice {
    display: inline-block;
  }

  .product-card-details-icons-wrapper img {
    max-width: 40px;
  }


  .dots {
    display: flex;
  }




  /* CART LAYOUT */

  .cart-new-item-input-form input {

    width: 10em;
  }


  .product-in-cart-wrapper {
    font-size: 0.8rem;
    padding: 1rem 0.5rem;
  }

  .cart-product-remove {
    margin: 0 1rem;
    width: 0.6rem;
  }

  .cart-order-total {
    margin: 0 3em 1em auto;
    font-size: 0.9rem;
  }
}

.reply {

  font-size: 1rem;
}

@media (min-width: 1100px) {
  .home-page-welcome-section h1 {
    max-width: 600px;
    font-size: 54px;
  }
}